/* DEFAULTS*/
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

img {
	display: inline-block;
    max-width: 90%;
}

html, body {
    width: 100%;
    height: 100%;
	background: #000;
}

/*
HERO PANEL
*/

.hero-image {
	width: 100%;
	height: 100%;
	background: url("../img/background.jpg");
	background-size: cover;
	position: relative;
}

.border-overlay {
	width: 100%;
	height: 100%;
	border: 30px solid black;
	position: fixed;
	z-index: 15;
    pointer-events: none;
}

.lockup {
	width: 90%;
	max-width: 500px;
	position: absolute;
	top: 35%;
	right: 0;
	left: 0;
	margin: 0 auto;
	z-index: 5;
}

.scroll {
	position: absolute;
    top: auto;
	right: 0;
	bottom: 50px;
	left: 0;
	margin: 0 auto;
}

.wrapper {
    position: absolute;
    width: 500px;
	top: 60%;
    left: 0;
    right: 0;
    margin: auto;
    display: inline-block;
    text-align: justify;
}

.wrapper_footer {
    position: absolute;
    width: 500px;
	   top: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: inline-block;
    text-align: justify;
}

.wrapper:after {
  content: '';
  width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
  display: inline-block;
}


.wrapper_footer:after {
  content: '';
  width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
  display: inline-block;
}

.response p a, .response_foot p a {
    color: #707fb3;
}

.button, .button_alt {
  width: 232px;
  height: 54px;
  border: 1px solid #fff;
  box-sizing: border-box;
  text-align: center;
  font-size: 13px;
  letter-spacing: 1px;
  color: #fff;
  position: relative;
  display: inline-block;
  transition: all 0.5s;
  z-index: 11;
  cursor: pointer;
}

.icon {
  position: relative;
  height: 52px;
  width: 53px;
  background: #fff;
  color: black;
}

.icon img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.button p, .button_alt p {
  width: 100%;
  height: 54px;
  position: absolute;
  top: 0;
  left: 28px;
  font-family: futura, Helvetica, Arial, sans-serif;
  line-height: 52px;
  text-transform: uppercase;
}

.button:hover {
  color: #000;
  background: #fff;
}


.button_alt:hover {
  color: #000;
  background: #fff;
}

/*
PANELS
*/

.fullpage {
	width: 100%;
	height: 50%;
	position: relative;
}

.fullpage > * {
    z-index: 8;
}

.static_fp {
    position: relative;
    height: 75%;
    width: 100%;
}

.footer {
	width: 100%;
	height: 500px;
	position: relative;
    bottom: 0px;
	background: #282828;
    margin-top: 400px;
}

.panel-two {
    background: black;
}

.block {
	position: relative;
	left: 0;
	right: 0;
	bottom: 0;
	width: 60%;
	height: 300px;
	margin: 0 auto;
}

#block_1 {
	top: 115%;
}

.celebrate {
    position: absolute;
}

.celebrate_copy {
    position: absolute;
    top: 460px;
    right: 0;
}

#block_2 {
    top: 250%;
}

#block_2_1 {
	position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
	margin: 0 auto;
}

#block_2_2 {
	position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
	margin: 0 auto;
}

#block_3 {
    height: 450px;
	top: 200%;
    background: #222;
    text-align: center;
}

.vue_du_monde {
    margin-top: 73px;
}

.vue_du_monde_img {
    position: absolute;
    top: 180%;
    left: 0;
    right: 0;
	margin: 0 auto;
}

#block_4 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	margin: 0 auto;
}

#apple5 {
    position: absolute;
    top: 120%;
    left: -2%;
    z-index: 3;
}

#apple6 {
    position: absolute;
    top: 140%;
    right: 3%;
    z-index: 2;
}

#block_5 {
    height: 450px;
    text-align: center;
    background: #222;
}

.date {
    margin-top: 73px;
}

.date_img {
    position: absolute;
    top: 245%;
    left: 0;
    right: 0;
	margin: 0 auto;
}

#thankyou_attending, #thankyou_not_attending, #thankyou_attending_foot, #thankyou_not_attending_foot {
    display: none;
    opacity: 0;
}

.response h1 {
    font-family: futura, Helvetica, Arial, sans-serif;
    font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
    line-height: 20px;
    color: #fff;
	margin-bottom: 20px;
}

.response p {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: #fff;
    margin-top: 10px;
	margin-bottom: 10px;
}

.foot h1 {
    color: #fff;
}

/*
ANIMATION ELEMENTS
*/

.bob_1 {
	position: absolute;
    top: 11%;
    left: 18%;
	z-index: 16;
}

.bob_2 {
	width: 339px;
	height: 362px;
	position: absolute;
    top: 45%;
    right: 5%;
	z-index: 17;
}

.bob_3 {
	position: absolute;
    top: 86%;
    left: 6%;
	z-index: 17;
}

.bob_4 {
	position: absolute;
    top: 33%;
    left: 58%;
    z-index: 7;
}

#scroll_to_top {
    cursor: pointer;
}



/* media-queries */
@media(max-width: 1600px){
    .celebrate{
        left: -4%;
    }
    .celebrate_copy{
       right: -4%
    }
}

@media(max-width: 1500px){
    .celebrate{
        left: -8%;
    }
    .celebrate_copy{
       right: -8%
    }
}

@media(max-width: 1400px){
    .celebrate{
        left: -15%;
    }
    .celebrate_copy{
       right: -10%
    }
}

@media(max-width: 1250px){
    .celebrate{
        left: -21%;
    }
    .celebrate_copy{
       right: -17%
    }
}

@media(max-width: 1100px){
    .celebrate{
        left: -23%;
    }
    .celebrate_copy{
       right: -24%
    }
}

@media(max-width: 1000px){
    .fullpage, .static_fp, .footer, .scroll, .bob_2, .bob_3, .bob_5, .bob_6 {
        display: none;
    }

    .bob_1, .bob_2, .bob_3, .bob_4 {
        z-index: 2;
        display: none;
    }
}


@media(max-width: 700px){
    .lockup {
        max-width: 60%;
    }

    .fullpage, .bob_1, .bob_2, .bob_3, .bob_4, .static_fp, .footer, .scroll {
        display: none;
    }

    .wrapper {
        width: 235px;
    }

    .button {
        margin: 10px 0;
    }

    .response h1 {
        margin: 0 auto;
        width: 70%;
    }

    .response p {
        margin: 0 auto;
        width: 70%;
    }
}

@media(max-width: 500px){
    .lockup {
        top: 20%;
    }

    .wrapper {
        top: 40%;
        width: 235px;
    }
}

@media(max-width: 400px){
    .lockup {
        top: 20%;
    }

    .wrapper {
        top: 40%;
        width: 235px;
    }
    .response {
        margin: 0 auto;
    }

    .response p, .response h1 {
        margin: 0 auto;
        width: 73%;
    }
}


@media(max-width: 450px){
    .lockup {
        top: 20%;
    }

    .wrapper {
        top: 40%;
        width: 235px;
    }

    .response {
        margin: 0 auto;
    }

    .response h1 {
        margin: 0 auto;
        width: 70%;
    }

    .response p {
        margin: 0 auto;
        width: 70%;
    }
}
