﻿<!doctype html>
<html>
<head>
    <title>Leo Burnett - Reservation</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="js/app.js"></script>
</head>

@if (string.IsNullOrWhiteSpace(ViewBag.Id))
{
    Response.Redirect("~/Error/Index");
}

<body ng-app="christmasvip" ng-controller="mainController">
    <div class="border-overlay"></div>
    <div class="hero-image">
        <img class="scroll" id="scroll" src="img/scroll.png" />
        <div class="bob_4"><img class="apple4" src="img/apple_4.png" /></div>
        <img class="lockup" id="lockup" src="img/lockup.png" />
        <div class="bob_1"><img class="apple1" src="img/apple_1.png" /></div>
        <div class="bob_2"><img class="apple2" src="img/apple_2.png" /></div>
        <div class="bob_3"><img class="apple3" src="img/apple_3.png" /></div>
        <!--CTA's-->
        <div class="wrapper" id="wrapper">
          	<div class="response" id="thankyou_attending">
				<h1>Thank you {{firstname}}. We look foward to seeing you there.</h1>
				<p>Wednesday 21<sup>st</sup> December. 6pm - 11pm.<br>
				  Smart dress with a touch of colour to impress.</p><p>
				  ALTO Event Space, located in the Top Floor, GPO building (CBD).<br>
                  Enter the GPO via Postal Lane.<br>
				  Secure parking is available at 123 Queen Street and 250 Elizabeth Street.</p><p>
				  If you have any specific dietary requirements please email <a style="color: #999999;" href="mailto:melbourne.reception@leoburnett.com.au" target="_BLANK">melbourne.reception@leoburnett.com.au</a></p>
			</div>
            <div class="response" id="thankyou_not_attending">
                <h1>Thank you {{firstname}}. Sorry you can’t make it.</h1>
                <p>Call us if you change your mind.<br>+61 3 9251 1300</p>
            </div>
            @if (ViewBag.Valid)
            {
                <div class="button" id="rsvp_yes" ng-click="confirmRes('@ViewBag.Id')">
                    <div class="icon"><img src="img/yes_icon.png" /></div>
                    <p>Yes I’ll attend</p>
                </div>
                <div class="button" id="rsvp_no" ng-click="declineRes('@ViewBag.Id')">
                    <div class="icon"><img src="img/no_icon.png" /></div>
                    <p>I can't make it</p>
                </div>
            }
            else
            {
                <div class="response" style="text-align:center">
                    <h1>You've already confirmed your RSVP.</h1>
                    <p>Please call us if you've changed your mind.<br>+61 3 9251 1300</p>
                </div>
                <div style="display:none" id="rsvp_yes"></div>
                <div style="display:none" id="rsvp_no"></div>
            }
        </div>
    </div>
    <div class="fullpage" id="panel_1">
		<div class="block" id="block_1">
			<img class="celebrate" src="img/celebrate.jpg"/>
			<img class="celebrate_copy" src="img/celebrate_copy.png"/>
		</div>
	</div>
	<div class="fullpage">
		<div class="block" id="block_2">
			<img id="block_2_1" src="img/block_2-1.png"/>
			<img id="block_2_2" src="img/block_2-2.png"/>
		</div>
	</div>
	<div class="fullpage">
		<div class="block" id="block_3">
			<img class="vue_du_monde" src="img/alto.png"/>
			<img class="vue_du_monde_img" src="img/alto_map.jpg"/>
		</div>
	</div>
	<div class="static_fp">
		<img id="block_4" src="img/event_time.png"/>
		<div class="bob_5"><img id="apple5" src="img/apple_5.png"/></div>
		<div class="bob_6"><img id="apple6" src="img/apple_6.png"/></div>
	</div>
	<div class="fullpage">
		<div class="block" id="block_5">
			<img class="date" src="img/date.png"/>
			<img class="date_img" src="img/date_img.jpg"/>
		</div>
	</div>
	<div class="buffer"></div>
    <div class="footer" id="panel_2">
        <!--CTA's-->
        <div class="wrapper_footer" id="wrapper_foot">
            <div class="response foot" id="thankyou_attending_foot">
                	<h1>Thank you {{firstname}}. We look foward to seeing you there.</h1>
				<p>Wednesday 21<sup>st</sup> December. 6pm - 11pm.<br>
				  Smart dress with a touch of colour to impress.</p><p>
				  ALTO Event Space, located in the Top Floor, GPO building (CBD).<br>
                  Enter the GPO via Postal Lane.<br>
				  Secure parking is available at 123 Queen Street and 250 Elizabeth Street.</p><p>
				  If you have any specific dietary requirements please email <a style="color: #999999;" href="mailto:melbourne.reception@leoburnett.com.au" target="_BLANK">melbourne.reception@leoburnett.com.au</a>
				  </p>
            </div>
            <div class="response foot" id="thankyou_not_attending_foot">
                <h1>Thank you {{firstname}}. Sorry you can’t make it.</h1>
                <p>Call us if you change your mind.<br>+61 3 9251 1300</p>
            </div>
            @if (ViewBag.Valid)
            {
                <div class="button_alt" id="rsvp_yes_foot" ng-click="confirmResFoot('@ViewBag.Id')">
                    <div class="icon"><img src="img/yes_icon.png" /></div>
                    <p>Yes I’ll attend</p>
                </div>
                <div class="button_alt" id="rsvp_no_foot" ng-click="declineResFoot('@ViewBag.Id')">
                    <div class="icon"><img src="img/no_icon.png" /></div>
                    <p>I can't make it</p>
                </div>
            }
            else
            {
                <div class="response foot" style="text-align:center">
                    <h1>You've already confirmed your RSVP.</h1>
                    <p>Please call us if you've changed your mind.<br>+61 3 9251 1300</p>
                </div>
                <div style="display:none" id="rsvp_yes_foot"></div>
                <div style="display:none" id="rsvp_no_foot"></div>
            }
        </div>
        <img class="scroll" id="scroll_to_top" src="img/back_to_top.png" />
    </div>
    <script src="js/main.js"></script>
    <input type="hidden" id="user_Valid" ng-model="person.valid" value='@ViewBag.Valid' />
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-70909285-1', 'auto');
      ga('send', 'pageview');
    </script>
</body>
</html>